.userResultCardContainer {
  width: 280px;
  height: 48px;
  background-color: "#3b3b3b";
  color: white;

  img {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background-size: cover;
  }

  .test {
    color: white;
  }
}
